@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 <h2> Edit : 5 </h2>

 <p> With Edit 5 : We will be able to see CI been configured and is in action </p>

 <p> Edit : 6</p>
</div>
